body,
html,
#app {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

html {
  font-size: 625%;
}
body {
  font-size: .1rem;
  line-height: 1.15;
}

#app {
  padding: 30px;
  font-family: Arial, Helvetica, sans-serif;
}